# LPMQ Frontend Environment Configurations
VITE_APP_TITLE="Layanan Pentashihan Mushaf Al-Qur'an (LPMQ)"
VITE_API_BASE_URL="http://localhost:5000/api/v1"
VITE_QR_VERIFY_PUBLIC_URL="http://localhost:3000/verify-documents"
